body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:1223px;
  width:311px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1313px;
  width:697px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:697px;
  word-wrap:break-word;
}
#u261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#999999;
  text-align:left;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1403px;
  width:894px;
  height:110px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#999999;
  text-align:left;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:890px;
  word-wrap:break-word;
}
#u262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#999999;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1611px;
  width:373px;
  height:131px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#999999;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#62AFF9;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:1611px;
  width:373px;
  height:131px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#62AFF9;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:2245px;
  width:1029px;
  height:158px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
