body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:1712px;
  width:1045px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:2268px;
  width:1045px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
