body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:1737px;
  width:170px;
  height:170px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:935px;
  top:1788px;
  width:143px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#60AAF8;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:467px;
  width:235px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#60AAF8;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:184px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:638px;
  width:206px;
  height:184px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:600px;
  width:499px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:673px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:65px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:735px;
  width:226px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:222px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:800px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:184px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1046px;
  width:206px;
  height:184px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1008px;
  width:499px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1081px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:65px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1143px;
  width:226px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:222px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1208px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#60AAF8;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:899px;
  width:235px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#60AAF8;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:899px;
  width:241px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:899px;
  width:138px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:184px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1329px;
  width:206px;
  height:184px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1291px;
  width:499px;
  height:79px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#000000;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1364px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:65px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1426px;
  width:226px;
  height:65px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FF9900;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:222px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:1491px;
  width:499px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#999999;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:537px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:188px;
  width:1125px;
  height:537px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:136px;
  width:235px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2004px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:771px;
  width:1125px;
  height:2004px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:594px;
  width:1115px;
  height:273px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u252 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:1702px;
  width:264px;
  height:244px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
