body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:2320px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:3128px;
  top:1469px;
  width:283px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
