body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3445px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:2320px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:3128px;
  top:1469px;
  width:283px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
