body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2587px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:3873px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2587px;
  width:1125px;
  height:2436px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:2587px;
  width:1125px;
  height:2436px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2587px;
  top:2587px;
  width:1125px;
  height:2436px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:3873px;
  top:2587px;
  width:1125px;
  height:2436px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
