body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#8F98A1;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:798px;
  width:262px;
  height:75px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#8F98A1;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:116px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:2320px;
  width:1125px;
  height:116px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2348px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:0px;
  width:1125px;
  height:2348px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:785px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:891px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:994px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1115px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1225px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1614px;
  width:742px;
  height:87px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  word-wrap:break-word;
}
#u210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1741px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1866px;
  width:563px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:42px;
  color:#818B96;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#818B96;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:1977px;
  width:694px;
  height:74px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#818B96;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#818B96;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:2097px;
  width:694px;
  height:58px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#818B96;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:114px;
  width:311px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:98px;
  width:311px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:132px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:68px;
  width:133px;
  height:132px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:342px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:1125px;
  height:342px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:221px;
  width:187px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:367px;
  width:187px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:294px;
  width:187px;
  height:63px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:45px;
  color:#FFFFFF;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:88px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:441px;
  width:379px;
  height:88px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:50px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:375px;
  word-wrap:break-word;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:221px;
  width:312px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:81px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1541px;
  top:2286px;
  width:294px;
  height:81px;
  font-size:50px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:290px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1877px;
  top:2323px;
  width:383px;
  height:76px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
