body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:3469px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:3469px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:3269px;
  width:139px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u316 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:3269px;
  width:139px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u317 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:3269px;
  width:139px;
  height:163px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
