body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:355px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:428px;
  width:1125px;
  height:332px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u253 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:276px;
  width:355px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u254 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:276px;
  width:355px;
  height:107px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
