body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1125px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:2436px;
}
#u546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:486px;
  width:123px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:489px;
  width:123px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:977px;
  width:123px;
  height:62px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1030px;
  width:263px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:1031px;
  width:263px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#686868;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:37px;
  color:#686868;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:1079px;
  width:263px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:37px;
  color:#686868;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  word-wrap:break-word;
}
